/*Barra de navegacion principal*/
.enc{
    border-bottom: 1px solid blue;
}
#Im1{
	width: 100px;
	height: 100px;
}
.enc nav{
    display: flex;
    justify-content: space-around;
}
.enc nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.enc a{
    text-decoration: none;
    font-family: sans-serif;
    display: block;
    padding: 12px 20px;
    display: block;
    font-family: sans-serif;
    color: black;
    font-size: 18px;
    font-weight: 600;
}
.enc nav ul li{
    margin: 2px;
}
.enc nav ul li ul{
    display: flex;
    flex-direction: column;
}
.enc nav ul li ul{
    position: absolute;
}
.enc nav ul li ul li{
    margin: 0;
    width: 120px;
    position: relative;
    border: 1px solid lightgray;
    background-color: beige;
    text-align: left;
}
.enc nav ul li ul li a{
    font-size: 14px;
    text-decoration: none;
}
.enc nav ul li ul li:hover{
    width: 120px;
    position: relative;
    background-color: beige;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.enc nav ul li ul li:first-child{
    margin-top: 3px;
    width: 120px;
    position: relative;
    border-top: 3px solid orange;
}
.enc nav ul li ul{
    display: none;
}
.enc nav ul li:hover > ul{
    display: block;
}
.enc nav ul #link3{
    background-color: aqua;
}
.enc ul li:hover{
    background-color: aqua;
}
/*Docentes*/
@font-face {
    font-family: "titprin";
    src: url(FuenteFredoka/FredokaOne-Regular.ttf);
}
.titulos{
    text-align: center;
    font-size: 25px;
    background-color:aquamarine;
    padding: 5px;
	margin-top: 10px;
    font-family: 'titprin', cursive;
}
.cont{
    width: 100%;
    text-align: center;
}
.cont ul{
    margin: 0;
    list-style: none;
    padding: 0;
}
.cont li{
    margin: 50px;
    border-top: 1px solid darkgrey ;
    border-bottom: 1px solid darkgrey;
    padding: 10px;
}
@font-face {
    font-family: "TextMed";
    src: url(Permanent_Marker/PermanentMarker-Regular.ttf);
}
.cont a{
    text-decoration: none;
    color: black;
    font-family: "TextMed";
    font-size: 20px;
}
/*Perfil academico*/
.perac table{
    margin-top: 20px;
    width: 100%;
}
.perac table tr td{
    text-align: center;
    height: 150px;
}
.perac table tr td img{
    width: 80px;
    height: 80px;
}
.perac table,td{
    border: 1px solid black;
    border-collapse: collapse;
}
.perac p{
    line-height: 25px;
    font-size: 17px;
} 
/*Proyectos*/
#atit{
    color: blue;
    font-size: 25px;
    text-align: center;
    font-family: sans-serif; 
}
.ss{
    display: flex;
    justify-content: left;
}
.ss img{
    width: 150px;
    height: 150px;
    margin-right: 40px;
}
.ss p{
    margin-right: 40px;
    line-height: 25px;
    font-size: 17px;
}
.ait2{
    margin-right: 40px;
    line-height: 25px;
    font-size: 17px;
}
.pest{  
    margin-top: 30px;
}
.so img{
    width: 150px;
    height: 150px;
    float: right;
}
.so p{
    margin-left: 40px;
    line-height: 25px;
    font-size: 17px;
}
.so ul li{
    margin-left: 40px;
    line-height: 25px;
    font-size: 17px; 
}


/*Pie de pagina*/
footer{
	background-color: beige;
	padding: 10px;
	border-top: 10px solid black;
	margin-top: 60px;
}
